html {
  line-height: 1.8;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fafafa;
}

header {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

main {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 800px;
}

footer {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

.header-image {
  max-width: 100%;
}

h1 {
  font-weight: bold;
  font-size: 32px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
}

h3 {
  font-weight: bold;
  font-size: 18px;
  border-bottom: solid 1px #333;
}

a {
  text-decoration: none;
  color: #2196f3;
}
a:hover{
  text-decoration: underline;
}

.info {
  /*color: #1d72aa;*/
  background-color: #eef6fc;
  padding: 1rem;
  border-radius: 0.5rem;
}